/* tslint:disable */
/* eslint-disable */

import React, { SVGAttributes, FunctionComponent } from 'react';
import { getIconColor, getIconStyle } from './helper';

interface Props extends Omit<SVGAttributes<SVGElement>, 'color'> {
  size?: number;
  color?: string | string[];
}

const #componentName#: FunctionComponent<Props> = ({ size, color, style: _style, className='', ...rest }) => {
  const style = getIconStyle(_style)

  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;
