/* eslint-disable */

import React from 'react';
import { getIconColor, getIconStyle } from './helper';

const #componentName# = ({ size, color, style: _style, className='', ...rest }) => {
  const style = getIconStyle(_style)

  return (#iconContent#  );
};

#componentName#.defaultProps = {
  size: #size#,
};

export default #componentName#;
